body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fffeee;
    color: #333;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(1px) brightness(0.5);
    z-index: -1;
}


header {
    position: relative;
    color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1 0 auto;
    padding: 20px;
}

#dashboard {
    background-color: #e0e8e0;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #aaa;
}

footer {
    background-color: #708a92;
    color: #f9f9f9;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
}

.prominent {
    font-size: 1.2em;
    font-weight: bold;
    color: #ba4e45;
    text-align: center;
    margin: 20px auto;
}

h1, h2, h3 {
    font-weight: 700;
}

p {
    font-weight: 400;
}